{% extends 'admin/navbar.html' %}
{% load static %}

{% block content %}
<style>
  .wrap-text {
  white-space: normal !important; /* Allows wrapping */
  word-wrap: break-word  !important; /* Breaks long words if needed */
  max-width: 200px !important; /* Adjust width based on your layout */
}

</style>

<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Category </h3>
        <a href="{% url 'add_category' %}">
        <button class="btn btn-primary btn-icon-text" id="add-category-btn">
          <i class="mdi mdi-plus btn-icon-prepend"></i> Add
        </button>
        </a>
      </div>
  
      <div class="card dark-theme">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th>Category image</th>
                  <th> Category Name </th>
                  <th> Description </th>
                  <th> Status</th>
                </tr>
              </thead>
              <tbody>
                {% for category in categories %}
                <tr>
                  {% if category.image %}
                  <td><img class="product-img" src="{{ category.image.url }}" alt="Image"></td>
                  {% else %}
                  <td> no image is available</td>
                  {% endif %}
                  <td>{{category.name}} </td>
                  <td class="wrap-text"> {{category.description}} </td>
                  <td>
                    
                    {% if category.is_listed %}
                    <a href="{% url 'unlist_category' category.id %}">
                    <button class="btn btn-outline-danger btn-sm">Unlist</button>
                    </a>
                    {% else %}
                    <a href="{% url 'list_category' category.id %}">
                    <button class="btn btn-outline-success btn-sm">Listt</button>
                  </a>
                  {% endif %}
                  </td>
                  <td>
                    <a href="{% url 'view_subcategory' category.id %}"><button class="btn btn-outline-warning btn-sm"> Subcategory</button></a>
                    <a href="{% url 'edit_category' category.id %}"><button class="btn btn-outline-info btn-sm">Edit</button></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}