{% extends 'admin/navbar.html' %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Edit Brand </h3>
        <a href="{% url 'list_brand' %}" class="btn btn-outline-light back-link">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>
      </div>
  
      <div class="card dark-theme">
        <div class="card-body">
          <form action="" method="POST" class="add-product-form">
            {% csrf_token %}
            <div class="form-group">
              <label for="category-name">Brand name</label>
              <input
                type="text"
                id="category-name"
                name="name"
                class="form-control"
                value="{{brand.name}}"
                placeholder="Enter your Brand name"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">
              Edit now
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}  