{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOUNDWAVE</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/add_products.css' %}">

    <style>
      .toast-container {
        z-index: 1100;
      }
    
      .toast.text-bg-white {
        background-color: white !important;
      }
    
      .toast.text-bg-white.text-danger {
        color: #dc3545 !important;
      }
    
      .toast.text-bg-white.text-success {
        color: #198754 !important;
      }
    
      .toast .btn-close {
        color: #000; 
      }
    </style>
  </head>
  <body>
    <div class="container-scroller">
      <!-- Sidebar -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="sidebar-brand brand-logo" href="#">
            <!-- <img src="{% static 'assets/images/logo.svg' %}" alt="Logo"> -->
             <p class="text-white">SOUNDWAVE</p>
          </a>
          <a class="sidebar-brand brand-logo-mini" href="#">
            <img src="{% static 'assets/images/logo-mini.svg' %}" alt="Logo Mini">
          </a>
        </div>
        <ul class="nav">
          <!-- User Profile -->
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="profile-name">
                  <h5 class="mb-0">WELCOME Admin</h5>
                </div>
              </div>
            </div>
          </li>
          <!-- Navigation Items -->
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'dashboard' %}">
              <span class="menu-icon"><i class="mdi mdi-speedometer"></i></span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'list_user' %}">
              <span class="menu-icon"><i class="mdi mdi-laptop"></i></span>
              <span class="menu-title"> Users</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'list_category' %}">
              <span class="menu-icon"><i class="mdi mdi-laptop"></i></span>
              <span class="menu-title"> Category</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'list_brand' %}">
              <span class="menu-icon"><i class="mdi mdi-laptop"></i></span>
              <span class="menu-title"> Brand</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'list_product' %}">
              <span class="menu-icon"><i class="mdi mdi-laptop"></i></span>
              <span class="menu-title"> Products</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'view_orders' %}">
              <span class="menu-icon"><i class="mdi mdi-laptop"></i></span>
              <span class="menu-title"> Orders</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'view_offers' %}">
              <span class="menu-icon"><i class="mdi mdi-laptop"></i></span>
              <span class="menu-title"> Offers</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'view_coupons' %}">
              <span class="menu-icon"><i class="mdi mdi-laptop"></i></span>
              <span class="menu-title"> Coupons</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-block mt-3">Logout</button>
            </form>
          </li>
        </ul>
      </nav>

      <!-- Navbar -->
      <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="#">
              <img src="{% static 'assets/images/logo-mini.svg' %}" alt="Logo">
            </a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-center justify-content-between">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <form class="nav-link d-none d-md-block mt-2 search w-100">
              <input type="text" class="form-control" placeholder="Search products">
            </form>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="mdi mdi-bell"></i>
                </a>
              </li>
            </ul>
          </div>
          {% if messages %}
            <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
              {% for message in messages %}
              <div 
              class="toast align-items-center 
              {% if 'error' in message.tags %} text-bg-white text-danger {% else %} text-bg-white text-success {% endif %} border-0" 
              role="alert" 
              aria-live="assertive" 
              aria-atomic="true" 
              data-bs-autohide="true">
                <div class="d-flex">
                  <div class="toast-body">
                    {{ message }}
                  </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </nav>

        <!-- Main Content -->
        <div class="main-panel">
          <div class="content-wrapper">
            {% block content %}
            <!-- Add your dynamic content here -->
            {% endblock content %}
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->

    <!-- Bootstrap CSS -->
     

     <!-- Bootstrap JS -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const toastElements = document.querySelectorAll('.toast');
        toastElements.forEach(function (toastElement) {
          const toast = new bootstrap.Toast(toastElement);
          toast.show();
          setTimeout(function() {
            toast.hide();
          },  7000); // Here, 5000ms means 5 seconds
        });
      });


    </script>
    
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
  </body>
</html>
